body{
    color: white;
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.mainBox{
    user-select: none;
    color: #f0f7a0;
    width: fit-content;
    height: fit-content;
    border: 5px solid #b9bc94;
    box-shadow: 
    0 0 0.1vw 0.4vw rgb(205, 208, 151),
    0 0 0.4vw 0.6vw rgb(189, 197, 70),
    0 0 4vw 0.4vw rgb(192, 192, 3),
    
    inset 0 0 1.5vw 0.4vw rgb(192, 192, 3),
    inset 0 0 0.4vw 0.2vw rgb(189, 197, 70),
    inset 0 0 0.5vw 0.2vw rgb(205, 208, 151);
    padding: 30px 60px;
    border-radius: 8px;  
    background-color: #000000fd;
    transition: all 0.1s;
}

.mainBox:hover{
    content: normal;
    color: #1bbcd7;
    border: 5px solid #098095;
    box-shadow: 
    0 0 0.1vw 0.4vw #1bbcd7,
    0 0 0.4vw 0.6vw #07aac7,
    0 0 4vw 0.4vw #01798f,
    
    inset 0 0 0.5vw 0.125vw #01798f,
    inset 0 0 0.1vw 0.075vw #07aac7,
    inset 0 0 0.1vw 0.075vw #1bbcd7;    
    transition: all 0.1s;
}

.optionButton{
    color: #f0f7a0;
    background-color: #000000;
    font-size: 12pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    border: 3px solid #b9bc94;
    box-shadow: 
    0 0 0.1vw 0.4vw #cdd097,
    0 0 0.4vw 0.6vw #bdc546,
    0 0 4vw 0.4vw #c0c003,
    
    inset 0 0 0.5vw 0.125vw #c0c003,
    inset 0 0 0.1vw 0.075vw #bdc546,
    inset 0 0 0.1vw 0.075vw #cdd097;    
    margin-top: 35px;
    width: 12vw;
    height: 6vh;
    padding: 3%;
    cursor: pointer;
    transition: all 0.2s;
}

.optionButton:hover{
    content: normal;
    color: #1bbcd7;
    border: 3px solid #098095;
    box-shadow: 
    0 0 0.1vw 0.4vw #1bbcd7,
    0 0 0.4vw 0.6vw #07aac7,
    0 0 4vw 0.4vw #01798f,
    
    inset 0 0 0.5vw 0.125vw #01798f,
    inset 0 0 0.1vw 0.075vw #07aac7,
    inset 0 0 0.1vw 0.075vw #1bbcd7;    
    transition: all 0.2s;
}

.optionButton:active{
    content: normal;
    color: #0060a0;
    border: 3px solid #0060a0;
    box-shadow: 
    0 0 0.1vw 0.4vw #128bdc,
    0 0 0.4vw 0.6vw #0a71b6,
    0 0 4vw 0.4vw #02558c,
    
    inset 0 0 0.5vw 0.125vw #02558c,
    inset 0 0 0.1vw 0.075vw #0a71b6,
    inset 0 0 0.1vw 0.075vw #128bdc;    
    transition: all 0.2s;
}

.buttonContainer{

    width: 12vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.pacMan{
    height: 90px;
    width: 100px;  
    position: relative;
    cursor: pointer;
}

.questionButton{
    margin: 0px 10px;
    padding: 0;
    width: 200px;
}

.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:18.5vh;
}

.imageContainer img{
    width: fit-content;
    max-width: 14.5vw;
}

.headingContainer{
    margin-bottom: 2%;
}

@media(max-width: 756px) {
    .imageContainer img{
        max-width: 45%;
    }

}

.blackBulba{
    background-color: #dedddd;
    border: 7px solid #606060;
    border-radius: 10px;
    padding: 8px;
}

.optionButtonCorrect{
    display: disabled;

    color: #00a01b;
    border: 3px solid #00a023;
    box-shadow: 
    0 0 0.1vw 0.4vw #12dc23,
    0 0 0.4vw 0.6vw #0ab621,
    0 0 4vw 0.4vw #028c14,
    
    inset 0 0 0.5vw 0.125vw #028c19,
    inset 0 0 0.1vw 0.075vw #18b60a,
    inset 0 0 0.1vw 0.075vw #23dc12;    
}

.optionButtonCorrect:hover{
    display: disabled;

    color: #00a01b;
    border: 3px solid #00a023;
    box-shadow: 
    0 0 0.1vw 0.4vw #12dc23,
    0 0 0.4vw 0.6vw #0ab621,
    0 0 4vw 0.4vw #028c14,
    
    inset 0 0 0.5vw 0.125vw #028c19,
    inset 0 0 0.1vw 0.075vw #18b60a,
    inset 0 0 0.1vw 0.075vw #23dc12;    
}

.optionButtonWrong{
    color: #a00000;
    border: 3px solid #a00000;
    box-shadow: 
    0 0 0.1vw 0.4vw #dc1212,
    0 0 0.4vw 0.6vw #b60a0a,
    0 0 4vw 0.4vw #8c0202,
    
    inset 0 0 0.5vw 0.125vw #8c0202,
    inset 0 0 0.1vw 0.075vw #b60a0a,
    inset 0 0 0.1vw 0.075vw #dc1212;    
}

.optionButtonWrong:hover{
    color: #a00000;
    border: 3px solid #a00000;
    box-shadow: 
    0 0 0.1vw 0.4vw #dc1212,
    0 0 0.4vw 0.6vw #b60a0a,
    0 0 4vw 0.4vw #8c0202,
    
    inset 0 0 0.5vw 0.125vw #8c0202,
    inset 0 0 0.1vw 0.075vw #b60a0a,
    inset 0 0 0.1vw 0.075vw #dc1212;    
}
